.chat-container {
    display: block;
    margin-top: 50px;
    margin-left: 150px;
    position: absolute;
    width: 900px;
    height: 510px;
    border: 0.5px solid #5e5e5e;
    box-shadow: -3px 0px 4px rgba(102, 102, 102, 0.5), 3px 0px 4px rgba(102, 102, 102, 0.5), 0px -3px 4px rgba(102, 102, 102, 0.5), 0px 3px 4px rgba(102, 102, 102, 0.5);
}

.user-list-box {
    display: block;
    width: 300px;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border: 0.5px solid #5e5e5e;
    float: left;
}

.user-info {
    margin-left: 0px !important;
    display: flex;
    width: 300px;
    height: 70px;
    position: relative;
    align-items: center;
    transition: background-color .3s;
}

.user-photo-box {
    display: flex;
    margin-top: 0px !important;
    position: absolute;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    margin-left: 20px;
    float: left;
    justify-content: center;
    align-items: center;
}

.user-p-photo {
    display: block;
    width: 55px;
    height: 55px;
    position: absolute;
    -webkit-border-radius: 50px;
    border: 1px solid black;
}

.user-name {
    display: block;
    margin-left: 115px;
    position: absolute;
    width: auto;
    height: auto;
    font-size: 20px;
    font-family: 'Arial';
}

.chat-box {
    margin-left: 300px;
    margin-right: 0 !important;
    float: right !important;
    position: absolute;
    width: 600px;
    height: 100%;
    border: 0.5px solid #5e5e5e;
    overflow: scroll;
}

.sender-msg {
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
    width: 230px;
    height: 50px;
    background: lightgray;
    border-radius: 50px;
    text-align: center;
}

.receiver-msg {
    margin-left: 370px;
    margin-top: 20px;
    position: relative;
    width: 230px;
    height: 50px;
    background: indianred;
    border-radius: 50px;
    justify-content: stretch;
    align-items: stretch;
    text-align: center;
}

.msg-set {
    display: block;
    width: 230px !important;
    color: black !important;
    padding-top: 12px;
}


.user-info:hover{
    background-color: rgb(97, 97, 97);
}
