{% extends 'base.html' %}
{% load static %}
{% block title %}
    Ayarlar
{% endblock %}

{% block icerik %}
    <div class="row" style="padding-top: 50px">
        <div class="col-lg-8 pull-center">
        <div>
            <ul class="col-lg-offset-2 active" >
                <li role="presentation" class="active"><a href="{% url 'user-settings' %}">Profili Düzenle</a></li>
                <li role="presentation" class="active"><a href="{% url 'user-password-change' %}">Şifreni Değiştir</a></li>
            </ul>

        </div>
            <form action="{% url 'user-password-change' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row">
                        <div class=" col-lg-offset-4">
                            <div class="form-group">
                                <div class="col-lg-2">
                                    {{ field.label_tag }}
                                </div>
                                <div class="col-lg-4">
                                    {{ field }}
                                </div>

                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>

                    </div>
                {% endfor %}
            <br>
                <div class="row col-lg-offset-7"><input type="submit" value="Kaydet " class="btn btn-success"></div>
            </form>
        </div>
    </div>

{% endblock %}